.card__search-container-item-button {
    cursor: pointer;
    border: 0;
    font: inherit;
    font-weight: 600;
    outline: none;
    padding: 11px 24px;
    border-radius: 6px;
    background: #e0e1e2;
    transition: opacity .2s ease-out;
}